.head {
  text-align: center;
  padding-top: 20px;
  color: rgb(200, 200, 0);
  font-size: 40px;
  margin-bottom: 15px;
}

.heading2 {
  text-align: center;
  padding-top: 20px;
  color: rgb(110, 209, 77);
  font-size: 40px;
  margin-bottom: 15px;
  /* background-color: beige; */
  text-transform: capitalize;
}

.myInput {
  width: 100%;
  outline: none;
}

.myTodo {
  width: 100%;
  /* text-align: center; */
}

.my-div {
  margin-bottom: 10px;
}

.my-btn {
  min-width: 80px;
}
